.input {
  background: var(--surface2);
  border: 1px solid var(--border);
  border-radius: var(--radius-sm);
  padding: 9px 12px;
  color: var(--text);
  font-family: var(--font-mono);
  font-size: 0.8rem;
  outline: none;
  width: 100%;
  transition: border-color 0.15s;
  text-align: center;
}

.input:focus {
  border-color: var(--orange);
}

.inputError {
  border-color: var(--red) !important;
}

.textarea {
  background: var(--surface2);
  border: 1px solid var(--border);
  border-radius: var(--radius-sm);
  padding: 9px 12px;
  color: var(--text);
  font-family: var(--font-sans);
  font-size: 0.8rem;
  outline: none;
  resize: vertical;
  min-height: 70px;
  width: 100%;
  transition: border-color 0.15s;
}

.textarea:focus {
  border-color: var(--orange);
}
